.product .product-image{
    width: 200px;
}
.product .product-image img{
    width: 100%;
}
.product .color-box span{
    display: block;
    padding: 5px;
    width: 50px;
    height: 30px;
}
.product .disabled-button{
    background-color: #9dbed0;
}
#vue-app .cart{
    border: 1px solid green;
    position: absolute;
    right: 50px;
    top: 20px;
    width: 70px;
}
#vue-app .cart p {
    padding: 5px;
    margin: 0px;
}