<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css" type="text/css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="vue-app">
                <div class="product">
                    <div class="col-md-2 col-sm-5">
                        <div class="product-image">
                            <label v-show="imgLabel">{{label}}</label>
                            <img v-bind:src="image"
                                v-bind:alt="alt"
                                class="img-thumbnail"
                            />
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-7">
                        <div class="product-info">
                            <h1>{{title}}</h1>
                            <p v-if="inStock">In stock</p>
                            <p v-else>Out of stock</p>
                            <p>{{canSale}}</p>
                            <ul>
                                <li v-for="detail in details">{{detail}}</li>
                            </ul>
                            <div>
                                <p v-for="(variant, index) in variants"
                                    v-bind:data-id="variant.variantId"
                                    class="color-box">
                                    <span
                                        @mouseover="updateProduct(index)"
                                        :style="[variant.variantStyle, styleObjectSpan]">
                                    </span>
                                </p>
                            </div>
                            <button v-on:click="cart += 1"
                                :class="{ 'disabled-button': !inStock }"
                            >Add to cart</button>
                            <button v-on:click="addToBasket" :disabled="!inStock">Add to basket</button>
                            <div class="cart">
                                <p>
                                    Cart({{cart}})
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- script src="https://cdn.jsdelivr.net/npm/vue"></script -->
    <!-- script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script -->
    <!-- script src="js/vue.min.js"></script -->
    <script src="js/vue/vue.js"></script>
    <script src="js/index.js"></script>
</body>
</html>